body {
    padding:0px;
}

.header { /*serve per dopo per il Logo*/

}
.blu {background-color: #1f2937;
}
.links { float:right;
    
}
.opening {display:inline-flex;
        justify-content:center;
        background-color: yellow;
            }


.bianco { 
    background-color: white;
    justify-items: center;
    align-content: center;
        }

        .people{ display: flex; /*fatto, questa è la box delle box di foto+caption*/
            flex-direction: row;
            justify-content:center;
            gap: 10px;
         
                }
        
        .avatars { /*questo è foto+ caption a colonna con testo centrato*/
            flex-flow: column wrap;
            inline-size: 100px;
            align-items:center;
            justify-content: baseline;}

.grigio { display: flex;
    background-color: #E5E7EB;
         justify-content: center;
         align-content: center;
         }
.Quote{
    width: 50%;
    height: 10%;
}