 /* * { border:2px solid green;}   */

body {
    padding:0px;
    }
    .footer, .welcome-text {
        color:white; }

.sec1, .footer {background-color: #1f2937;
                }


.topdiv {display: flex;
        justify-content: center;}

    .top {display: flex;
            padding: 10px 100px;
            box-sizing: border-box;
            align-items: flex-end;
            flex-grow: 1;
            justify-content: space-between;
            max-width: 75%;}

        .links { display: flex;  
            box-sizing: border-box;
            /* background-color: yellow; */
            gap:10px;}

            .lnk {padding: 8px;
            
            background-color: darkslateblue;
            border: 3px solid rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            }
            a {color: palegreen;
                font-family: sans-serif;
                font-size: 20px;
            }
    .opening {display:flex;
            /* box-sizing: border-box; */
            padding: 10px 50px 25px 50px;
            justify-content:center;
            gap: 100px;
            align-items: center;}
         

    }

            .welcome-text { display: flex;
                flex-direction: column;  /*sinceramente non so perche non funziona*/
                justify-content: space-around;
                width: 450px;
                background-color:red;
                color: #1f2937
                 overflow-wrap:break-word;
                }
                
            .button-section { display: flex;
                justify-content: space-evenly;
                width: 450px;
                height: 30px;
             gap: 20px;}            
             




.sec2, .founders, .people { display: flex;
    justify-content: center;
}

.sec2 {/*display: flex;*/
    flex-flow: column ;
    /* justify-items: center; */
    background-color: white;
 }


    .list{
        display: inline-flex; /* fatto, questa è la box delle box di foto+caption*/
        justify-content:space-between;
        gap: 35px;
        padding: 25px;
    }
        
        .bio { /*questo è foto+ caption a colonna con testo centrato*/
            display: flex;
            flex-flow: column wrap;
            inline-size: 200px;
            align-items:center;
            justify-content: baseline;}

            .pic {border: 3px solid #3882f6;
                border-radius: 15px }
            .caption{text-align: center;}
            .capt-text{margin: 0px;}


.sec3 { display: flex;
        flex-grow: 1;
        background-color:#d6d6d6;
        justify-content: center;
         align-content: center;
         }

    .Quote{
        width: 50%;
         height: 10%;}

.sec4 { display: flex;
     /* background-color: black; */
    justify-content: center;
        }
    

    .subscribe_box { background-color: #3882f6;
        display: inline-flex;
        justify-content: center;
        flex-grow: 1;
        /* height: auto; */
        padding: 25px;
        gap: 65px;
        max-width: 80%;
        margin: 25px;
        }
    
         .invite { max-width: 60%;
        }

        .butt{display: flex;
            align-items: center;
            /* flex-grow: 1; */
            }
        
        .button2{background-color: #3882f6;
            color:white;
            border-radius: 5px;
           border: 3px solid white;}

            .footer{
                display: flex;
                justify-content: center;
                margin: 30px;
                padding: 20px;
            }