
.sect1 {
    background-color: #1f2937;
}


/*ul {
    margin: 20px;
    list-style: none;
    display: inline-flex;
    align-items: flex-end;
*/
.header {
    display:flex;

}

.links {
    margin: 20px;
    padding: 0;
}
.headlinks {
    display: flex;
    justify-content: flex-end;
    align-items:baseline;
}

h2{
margin: 0 auto;
width:fit-content;}



.people{ display: flex; /*fatto, questa è la box delle box di foto+caption*/
    flex-direction: row;
    justify-content:center;
    gap: 10px;
 
        }

.avatars { /*questo è foto+ caption a colonna con testo centrato*/
    
    display: flex;
    flex-flow: column wrap;
    inline-size: 100px;
    align-items:center;
    justify-content: baseline;}
    


.sect3 {     
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #E5E7EB;
        }

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}
.quoted {
    font-weight: bold;
}